/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Color Properties */
:root {
  --color-darker: #011638;
  --color-dark: #364156;
  --color-light: rgb(235, 235, 235);
  --color-lighter: rgb(255, 255, 255);
  --font-header: "Raleway", sans-serif;
  --font-copy: "Cabin", sans-serif;
  --color-yellow: #feea00;
  --color-pink: #fd1da0;
  /* you could add an accent color for CTAs and anchor tags ;-) */
}

/* Fonts */
h1,
h2,
h3 {
  color: var(--color-darker);
  font-family: var(--font-header);
}

h1 {
  font-family: var(--font-header);
  font-weight: 700;
  font-size: 4.2rem;
}

h2 {
  font-size: 3.15rem;
  margin-bottom: 1rem;
  max-width: 20ch;
}

p {
  color: var(--color-dark);
  font-family: var(--font-copy);
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

/* UI Elements */
button {
  display: inline-block;
  height: 3rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-yellow);
  color: var(--color-darker);
}

.light_button {
  background: none;
  border: solid 1px var(--color-yellow);
  color: var(--color-yellow);
}
.light_button_solid {
  background-color: var(--color-yellow);
  color: var(--color-darker);
  border: none;
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 3rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: left;
  background-color: var(--color-lighter);
  border-color: var(--color-light);
  color: var(--color-dark);
}

/* Menu */
nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-darker);
}

nav a {
  color: white;
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-dark);
}

.header_text {
  width: 40vw;
  min-width: 300px;
}

.header_text h1 {
  color: var(--color-lighter);
}

.header_text p {
  color: var(--color-light);
}

.header_graphics {
  width: 35vw;
  height: 35vw;
  min-width: 300px;
  min-height: 300px;
  background-color: var(--color-darker);
}

/* Sections */
#intro {
  display: flex;
  min-height: 80vh;
  padding: 0px 15rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-light);
}

.intro_text {
  width: 40vw;
  min-width: 450px;
}

.intro_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  background-color: var(--color-dark);
}

#cards {
  min-height: 80vh;
  padding: 5rem 2rem;
  background-color: rgb(245, 245, 245);
}

#card_container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  row-gap: 3rem;
  justify-items: center;
}

#info {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
}

.info_text {
  width: 60vw;
  min-width: 300px;
}

#contact {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer {
  display: flex;
  padding: 5vh 4rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-darker);
  color: var(--color-lighter);
  font-family: var(--font-copy);
}

footer h2 {
  color: var(--color-yellow);
}

footer li {
  margin: 0.5rem;
}

footer a {
  color: var(--color-light);
  text-decoration: none;
}

footer section {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}

/* card template */
.card {
  border-radius: 0.5rem;
  background-color: var(--color-lighter);
  max-width: 300px;
  padding-top: 0;
  box-shadow: -4px 5px 14px -6px rgba(200, 200, 200, 0.7);
}

.card:hover {
  transform: scale(1.02);
  box-shadow: -10px 10px 14px -6px rgba(200, 200, 200, 0.8);
}

.card_name {
  font-size: 1.5rem;
  padding: 0 1rem;
  font-weight: 600;
  margin-top: 1rem;
  color: #011638;
}
.card img {
  min-width: 300px;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card p {
  margin-bottom: 0;
  padding: 0 1rem;
}

.card_slogan {
  margin-top: 0.75rem !important;
  color: #4f5c74;
  font-family: "Raleway", "sans-serif";
  font-size: 0.75rem;
  font-weight: 100 !important;
}
.card_title {
  color: #4f5c74 !important;
  font-size: 1.25rem;
}

input[type="button"] {
  padding: 0.5rem 1rem;
  min-width: 6rem;
}

.card_button_negative {
  background: none;
  /* border: solid 1px var(--color-pink); */
  border: none;
  color: #d21684;
  text-decoration: underline;
}

.card_button_positive {
  background-color: var(--color-pink);
  color: black;
  border: solid 1px var(--color-pink);
}

.card_mail a {
  color: #4f5c74;
  font-size: 0.8rem;
  font-family: var(--font-header);
}

.card_buttons {
  margin-top: 1rem;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-evenly;
}
